<!DOCTYPE html>
<html>
   <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   </head>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/homepage.css">
      <link rel="stylesheet" type="text/css" href="/css/editAbout.css">
      <script type="text/javascript" src="/angularjs/editabout.js"></script>
   </head>
   <body ng-app="facebook" ng-controller="aboutController" class="body">
      <div class="container-fluid">
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#"><b>Facebook</b></a>
               </div>
               <div>
                  <ul class="nav navbar-nav navbar-right ">
                     <li><a href="/homepage"><span class="glyphicon glyphicon-home"></span class="navbartitles">&nbsp;Home</a></li>
                     <li><a href="#"><img src="/fbLogout.png"></a></li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class="col-md-2">
            <div class="sidebar">
               <br>
               <a class="navigationbarlinks" href="/editAbout">About</a><br><br>
               <a class="navigationbarlinks" href="/interest">Interest</a><br><br>
               <a class="navigationbarlinks" href="/friends">Friends</a><br><br>
               <a class="navigationbarlinks" href="/groups">Groups</a><br>
            </div>
         </div>
         <div class="col-md-8">
            <div class="newsfeed_background">
               <div class="newsfeed_container">
                  <form class="edit_about_form">
                     <span class="aboutHeader">Overview</span><br>
                     <hr class="partition">
                     <div class="form-group">
                        <input type="name" class="form-control" id="name" placeholder="Name" data-ng-model="name">
                     </div>
                     <div class="form-group">
                        <input type="dob" class="form-control" id="dob" placeholder="Date of birth" data-ng-model="dob">
                     </div>
                     <div class="form-group">
                        <input type="hometown" class="form-control" id="hometown" placeholder="Hometown" data-ng-model="hometown">
                     </div>
                     <div class="form-group">
                        <input type="currentcity" class="form-control" id="currentcity" placeholder="Current City" data-ng-model="currentCity">
                     </div>
                     <br>
                     <hr class="partition">
                     <span class="aboutHeader">Work & Education</span><br>
                     <hr class="partition">
                     <div class="form-group">
                        <input type="school" class="form-control" id="school" placeholder="School" data-ng-model="school">
                     </div>
                     <div class="form-group">
                        <input type="undergrad" class="form-control" id="undergrad" placeholder="College" data-ng-model="undergradCollege">
                     </div>
                     <div class="form-group">
                        <input type="graduate" class="form-control" id="graduate" placeholder="Grad college" data-ng-model="gradCollege">
                     </div>
                     <br>
                     <hr class="partition">
                     <span class="aboutHeader">Contact Information</span>
                     <hr class="partition">
                     <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="email">
                     </div>
                     <div class="form-group">
                        <input type="phone" class="form-control" id="phone" placeholder="Phone" data-ng-model="phoneNumber">
                     </div>
                     <br>
                     <hr class="partition">
                     <span class="aboutHeader">Life Events</span>
                     <hr class="partition">
                     <div class="form-group">
                        <input type="relationship" class="form-control" id="relationship" placeholder="single/commited/complicated" data-ng-model="relationshipStatus">
                     </div>
                     <button type="submit" class="btn btn-default" data-ng-click="submit();">Submit</button>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-2">
            <div class="sidebar">
               <br>This is homepage.
            </div>
         </div>
      </div>
   </body>
</html>