<!DOCTYPE html>
<html>
   <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/homepage.css">
      <script type="text/javascript" src="/angularjs/friends.js"></script>
   </head>
   <body ng-app="facebook" ng-controller="friendsController" class="body">
      <div class="container-fluid">
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#"><b>Facebook</b></a>
                  <form class="navbar-form navbar-left">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" id="searchbox" data-ng-model="search">
                        <script>
                           $("#searchbox").keyup(function(event){
                           if(event.keyCode == 13){
                           searchuser();
                           }
                           });
                        </script>
                        <button type="submit" class="btn btn-success" data-ng-click="searchuser();" data-ng-show="false">Submit</button>
                        <div id="display"></div>
                     </div>
                     <!--<button type="submit" class="btn btn-default">Submit</button>  --> 
                  </form>
               </div>
               <div>
                  <ul class="nav navbar-nav navbar-right ">
                     <li><a href="/homepage"><span class="glyphicon glyphicon-home"></span class="navbartitles">&nbsp;Home</a></li>
                     <li><a href="/friends"><span class="glyphicon glyphicon-user"></span class="navbartitles">&nbsp;Friends</a></li>
                     <li><a href="/groups"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Groups</a></li>
                     <li><a href="/signout"><img src="/fbLogout.png"></a></li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class="col-md-2">
            <div class="sidebar">
               <br>
               <a class="navigationbarlinks" href="/editAbout"><b>About yourself</b></a><br><br>
               <a class="navigationbarlinks" href="/interest"><b>Interests</b></a><br><br>
            </div>
         </div>
         <div class="col-md-8">
            <div class="newsfeed_background">
               <table class="table table-striped">
                  <tbody>
                     <tr ng-repeat="friend in friendsList">
                        <td style="padding-left:5%;">
                           <span class="facebookFont">{{ friend.wholeName }}</span>
                        </td>
                        <td>
                           <button class="btn btn-success" ng-disabled="{{friend.status=='REQ' ? 'false' : 'true'}}" ng-click="acceptRequest(friend.friend1Email)">
       					   <span>{{friend.status=='REQ' ? 'Accept Friend Request' : 'Friends'}}</span>
   					       </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="col-md-2">
         <div class="sidebar" position:absolute>
            <br><img src="/abcd1.png"></img>
         </div>
      </div>
      </div>
   </body>
</html>